body {
  background-image: url(../public/img/background.jpg);
  background-size: cover;
}
.content {
  background-color: #ffffffbd;
  border: 2px solid rebeccapurple;
  width: 800px;
  height: 410px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
}
.model__content {
  display: flex;
  justify-content: space-between;
}
.model {
  width: 200px;
  height: 243.75px;
  border: 2px solid rebeccapurple;
  margin: 0 80px;
}
img {
  width: 100%;
}
.glass__content {
  margin: 20px 80px;
}
.glass__item {
  width: 100px;
  height: 50px;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
}
.glass__item img {
  transform: translateY(20%);
}
.col {
  padding: 0 10px;
}
